<!DOCTYPE html>
<html>
<head>
    <title>The Cracked Paradise</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="body">
    <div class="header">
        <div class="title"><h1>The Cracked Paradise</h1></div>
        <input type="text" id="searchBar" placeholder="Search games...">
    </div>

    <div class="fitgirlrepacks"><p><b>Games</b></p></div>

    <div class="game-grid">
        {% for id, name, torrent, source in games %}
            <div class="game-block scroll-animate">
                <img src="{{ url_for('static', filename='Images/' ~ id|string ~ '.png') }}" class="img1" alt="{{ name }}"><br>
                <strong>{{ name }}</strong><br>
                <a href="{{ torrent }}">Download</a><br>
                <small>From: {{ source }}</small>
            </div>
        {% endfor %}
    </div>

    <div>
       <p>&nbsp; Download My Torrent Downloader <a href = "https://drive.google.com/file/d/1RJ-KqzNDnZkPSjZPRNjVzq-yrPTXdSgg/view?usp=drive_linkflask">Click Here</a> </p> 
    </div>
  <div class = "Fitgirl">&nbsp; This Website was made possible due to https://fitgirl-repacks.site/ <br> &nbsp; so if you like it please consider donating to Fitgirl for More awesome repacks Thanks for Visiting</div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
